body {
  max-width: 100%;
  font-family: "Muli", sans-serif;
}

#main {
  overflow: hidden;
}

.inline-list li{
  display: inline;
}

.purple-texture {
  background-color: #725A8A;
  background-image: url("../images/black-linen-2.png");
}

.gray-texture {
  background-image: url("../images/paper_fibers.png");
}

.light-gray-text {
  color: #fff;
}

.green-text {
  color: #B8C20D;
}

.purple-text {
  color: #725A8A;
}

.gray-text {
  color: #999;
}

.italic {
  font-style: italic;
}

h4 {
  margin: 20px 0 5px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.biopic {
  margin: 20px 0 0;
}

#map {
  height: 400px;
}

hr {
  margin: 10px 0;
}

