body {
  max-width: 100%;
  font-family: "Muli", sans-serif;
}

#main {
  overflow: hidden;
}

.inline-list li{
  display: inline;
}

.purple-texture {
  background-color: #725A8A;
  background-image: url("../images/black-linen-2.png");
}

.gray-texture {
  background-image: url("../images/paper_fibers.png");
}

.light-gray-text {
  color: #fff;
}

.green-text {
  color: #B8C20D;
}

.purple-text {
  color: #725A8A;
}

.gray-text {
  color: #999;
}

.italic {
  font-style: italic;
}

h4 {
  margin: 20px 0 5px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.biopic {
  margin: 20px 0 0;
}

#map {
  height: 400px;
}

hr {
  margin: 10px 0;
}






/*
h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 10px;
}


hr {
  margin: 2px auto;
}



*/
/*



.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 46px;
  color: #fff;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: #4C3C5C;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 26px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 16px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 16px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  font-size: 16px;
  color: #11538c;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 16px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #CDD80F;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #CDD80F;
}

.white-text {
  font-weight: bold;
  color: #fff;
}


.dark-gray {
  background-color: #2e2e2e;
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}




#lets-connect {
  text-align: center;
}






#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

*/
